body{

    display: block;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif ;
    font-weight: 500;
    font-size: 18px;
    background-image: url('../img/foodwall2.jpg');

}

p {
    line-height:  .25;
  }


br{display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 15px; 


}


.ready, .eaten{border-radius: 15px;
opacity: .90;

}



.orderlabel, .resetForm,.label{ background-color:red;
    color:yellow;

}
.newBurgerForm{margin-left: 50px;}